<div class="flex flex-row">
  <div class="flex-0 flex flex-col min-w-[200px] py-6 max-w-xs border-r border-gray-800">
    <a class="px-4 py-2 rounded my-1 mx-2 hover:bg-gray-900" href="/movies">All</a>
    {{range .Categories}}
    <a class="px-4 py-2 rounded my-1 mx-2 {{if eq .category_id $.ActiveCategory}}bg-red-800{{else}}hover:bg-gray-900{{end}}" 
      href="?category={{.category_id}}">
      <div class="flex justify-between items-center">
        <span>
          {{.category_name}}
        </span>
        <label class="text-xs {{if eq .category_id $.ActiveCategory}}text-gray-200{{else}}}text-gray-700{{end}}">{{.movies_count}}</label>
      </div>
    </a>
    {{end}}
  </div>

  <main class="flex-1 py-4 px-4">
    <h1 class="text-3xl bold px-4 pt-6 pb-2">Movies</h1>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-4 md:gap-6 px-4">
      {{range .Movies}}
        <a href="/movies/{{ .stream_id }}" class="movie relative">
          <figure class="bg-red-500 w-full rounded overflow-hidden aspect-[8/12]">
            <img lazy="loading" src="{{.stream_icon}}" alt="{{.name}}" />
          </figure>

          <div class="py-4 px-2 z-10 relative">
            <h2 class="bold text-xs line-clamp-2">{{.name}}</h2>
          </div>
        </a>
      {{end}}
    </div>
  </main>
</div>
